{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}

    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Login</button> | 
        
        <a href="{% url 'password_reset' %}" class="btn btn-link">Forget Password</a>

    </form>
    
{% endblock %}