{% extends 'base.html' %}

{% block title %}Articles{% endblock %}

{% block content %}

{% for article in object_list %}
<div class="card mt-2">
    <div class="card-header">
        
        <span class="font-weight-bold">
            <a href="{% url 'article_detail' article.pk %}" class="text-primary btn-link">{{ article.title }}</a>
        </span> &middot;
        
        <span class="text-muted">by {{ article.author }} | {{ article.date }}</span>
    </div>
    <div class="card-body">
        {{ article.body }}
        
        <br />

        <a href="{% url 'article_edit' article.pk %}">Edit</a> |
        <a href="{% url 'article_delete' article.pk %}">Delete</a>
    </div>
    <div class="card-footer text-muted">
        {% for comment in article.comments.all %}
            <p>
                <span class="font-weight-bold">{{ comment.author|title }} &middot;</span> {{ comment }}
            </p>
        {% endfor %}
    </div>
</div>
<br />

{% endfor %}

{% endblock content %}